<br>
<br>
<br>
<br>
        
<div class="card bg-light mb-2">
    <div class="card-body">
                    
        <p class="card-text">
            <div class="col-9">

                <ul class="list-group">
                    <li class="list-group-item">
                        <b> Nom :</b> &nbsp; {{enseignant.nom}}</li>
                    <li class="list-group-item">
                        <b>Prenom :</b> &nbsp; {{enseignant.prenom}}
                    </li>
                    <li class="list-group-item">
                        <b>TYPE :</b&nbsp;> {{enseignant.type}}</li>
                    <li class="list-group-item">
                        <b>SEXE :</b>&nbsp; {{enseignant.sexe}}
                    </li>
                    <li class="list-group-item">
                        <b>Email personnel :</b> &nbsp; {{enseignant.emailPerso}}
                    </li>
                    <li class="list-group-item">
                        <b>Email UBO :</b> &nbsp; {{enseignant.emailUbo}}
                    </li>

                    <li class="list-group-item">
                        <b>Adresse :</b>&nbsp; {{enseignant.adresse}}
                    </li>
                    <li class="list-group-item">
                        <b>Ville :</b>&nbsp; {{enseignant.ville}}
                    </li>
                    <li class="list-group-item">
                        <b>Pays :</b>&nbsp; {{enseignant.pays}}
                    </li>


                </ul>
            </div>
            <div class="col-3">
            </div>
      