
<br> <br> <br><br> <br>
<div class="card">
		<div class="card-header">
				<i class="fa fa-bars"></i>
				Liste Enseignants
				<a ui-sref="ajouterEnseignant()" class="btn btn-danger float-right">
						ajouter</a>	
		</div>
		<div class="card-body">
		  <h5 class="card-title"></h5>
		  <p class="card-text"><table id="enseignants" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>#</th>
						<th>Nom </th>
						<th>Prenom</th>
                        <th>Type</th>
                        <th>Email_UBO</th>
                       
                        <th>Actions</th>
                        

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="enseignant in enseignants">
                        <td>{{enseignant.noEnseignant}}</td>
                        <td>{{enseignant.nom}}</td>
                        <td>{{enseignant.prenom}}</td>
                        <td>{{enseignant.type}}</td>
                        <td>{{enseignant.emailUbo}}</td>
                       
						<td>
			<center>
							<a ui-sref="afficheEnseignant({id: enseignant.noEnseignant})" class="btn btn-info">
								<div style="font-size:1em">
									<i class="fa fa-question-circle"></i>
								</div>
							</a>
							<button ui-sref="updateEnseignant({id: enseignant.noEnseignant})" type="button" class="btn btn-success">
								<i class="fa fa-edit"></i>
							</button>
							<button ng-click="delete(enseignant.noEnseignant)" type="button" class="btn btn-dark">
								<i class="fa fa-trash"></i>
							</button>
                        </center>
						</td>
					</tr>
				</tbody>
				<tfoot>
                        <tr>
                                <th>#</th>
                                <th>Nom </th>
                                <th>Prenom</th>
                                <th>Type</th>
                                <th>Email_UBO</th>
                               
                                <th>Actions</th>
                                
        
                            </tr>
				</tfoot>
			</table>
			</p>
			</div>
			
			</div></p>
		</div>
	  </div>
		
		
<br>
<br>
